@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); 

body {
    font-size: 15pt;
    background-color: black;
    color: white;
    text-align: center;
    position: relative;
    padding: 10%;
}

.emoji {
  font-size: 50pt;
  margin-top: 50%;
}

#date {
  margin-top: 5%;
  font-family: 'Nunito', sans-serif;
  line-height: 20pt;
  font-weight: 600;
}
